/* Detail */
.productDescription {
  padding: 20px 0 0 40px;
}

.infoGroup {
  margin: 32px 0;
}
.info {
  display: fiex;
  flex-direction: row;
}

.infoTitle {
  font-weight: bold;
  margin-right: 16px;
}

.counting {
  margin-bottom: 16px;
}
.counting label {
  font-weight: bold;
}

.counting input {
  width: 70px;
}

.productThumbnail {
  width: 55%;
  height: 540px;
  background-color: rgb(232, 232, 232);
  border-radius: 8px;
  overflow: hidden;
  float: right;
}
.productThumbnail img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: center center;
}
